# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.onnx

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# HuggingFace / Gradio cache
gradio_cached_examples/
gradio_client/

# Ultralytics cache
Ultralytics/
runs/
weights/*.pt
*.pt

# DeepSORT / Tracking weights
*.pb
*.tflite

# Temporary files
tmp/
temp/
